{% extends "layout.njk" %}

{% block content %}


        <div id="Image"> 
            <img src="https://yt3.ggpht.com/a/AGF-l7_gRI0RdRC_VNg535o0C21ltP0eTFhi4rjRmw=s900-c-k-c0xffffffff-no-rj-mo" width="320" height="320" alt="rocketseat">

         

        </div>
        <div>
            
            <div id="Title">
            
                <h1>{{about.title}}</h1>
    
            </div>
            <div id="Description">
            
                <h1>Mais do que uma plataforma de educação em tecnologia, somos uma comunidade incrível de programadores em busca do próximo nível 🚀

                    Em um mundo onde a informação fica obsoleta cada vez mais rápido, velocidade de aprendizado é a chave para o sucesso.
                    
                    Por isso a Rocketseat oferece através de uma plataforma inteligente e metodologia prática, além de comunidade, eventos, conteúdo e conexão com o mercado de trabalho, todas as ferramentas que você precisa para masterizar no menor tempo possível as tecnologias mais modernas de desenvolvimento web e mobile, e dessa forma avançar para o próximo nível como programador.</h1>
    
            </div>

            <ul>
            {% for tecs in about.tec %}
                <li>{{tecs.name}}</li>
                
            {% endfor %}}  

            </ul>

            <div class="links" id="Redes">
                {% for link in about.links%}
                <a href="{{link.url}}">{{link.name}}</a>
                {% endfor %}
            </div>

        </div> 
{% endblock %}
        
   







