<!DOCTYPE html>
<html>

    <head>
        <title>
            Andre
        </title>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link rel= "icon" href="favicon.ico" type="image/x-icon"/>
        <link rel="stylesheet" href="/style.css">


    


    </head>

    <body>
       <header>
           

            <div class="links">
             <a href="https://discordapp.com/invite/gCRAFhc"target="blank">Comunidade </a>
             <a href="mailto:oi@rocketseat.com.br"target="blank">Email</a>
             <a href="tel:+5547992078767">Telefone</a>
             <a href="/index.html">Sobre</a>
             <a href="/portifolio">Conteúdos</a>
             </div>
        </header>

        <div id="Image"> 
            <img src="https://yt3.ggpht.com/a/AGF-l7_gRI0RdRC_VNg535o0C21ltP0eTFhi4rjRmw=s900-c-k-c0xffffffff-no-rj-mo" width="320" height="320" alt="rocketseat">

         

        </div>
        <div>
            
            <div id="Title">
            
                <h1>Rocketseat</h1>
    
            </div>
            <div id="Description">
            
                <h1>Mais do que uma plataforma de educação em tecnologia, somos uma comunidade incrível de programadores em busca do próximo nível 🚀

                    Em um mundo onde a informação fica obsoleta cada vez mais rápido, velocidade de aprendizado é a chave para o sucesso.
                    
                    Por isso a Rocketseat oferece através de uma plataforma inteligente e metodologia prática, além de comunidade, eventos, conteúdo e conexão com o mercado de trabalho, todas as ferramentas que você precisa para masterizar no menor tempo possível as tecnologias mais modernas de desenvolvimento web e mobile, e dessa forma avançar para o próximo nível como programador.</h1>
    
            </div>

            <ul>
                <li>JavaScript</li>
                <li>HTML</li>
                <li>React</li>
                <li>React Native</li>
                

            </ul>

            <div class="links" id="Redes">
                <a href="https://github.com/Rocketseat">GitHub</a>
                <a href="https://www.instagram.com/rocketseat_oficial/">Instagram</a>
                <a href="https://www.facebook.com/rocketseat">Facebook</a>
            </div>

        </div> 
        
        
    </body>







</html>