<!DOCTYPE html>
<html>

    <head>
        <title>
            Andre
        </title>
        {% block link %}

        {% endblock %}
        
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link rel= "icon" href="/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/style.css">


    


    </head>

    <body>
       <header>
           

            <div class="links">
             <a href="https://discordapp.com/invite/gCRAFhc"target="blank">Comunidade </a>
             <a href="mailto:oi@rocketseat.com.br"target="blank">Email</a>
             <a href="tel:+5547992078767">Telefone</a>
             <a href="/">Sobre</a>
             <a href="/portifolio">Conteúdos</a>
            </div>
        </header>
        {% block content %} {% endblock %}
        
    </body>







</html>