@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
:root{
    --primary_color: black;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary_color);
}
header{
    background-color: rgb(17, 17, 17);
    
    width: 100%;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;

}
.links{
    font-size: 22px;
}
.links a + a {
 margin-left: 32px;
 color: rebeccapurple;
}
.links a {
   
    text-decoration: none;
    position: relative;
}
.links a.active{
    font-weight: bold ;
    color: white
}
.link a:hover{
color:rebeccapurple;

}
.links a::after{
    
    content: "";
    width: 0;
    height: 2px;
    background-color: rebeccapurple;
    position: absolute;
    left: 0;
    bottom: -4px;
   

}
.links a:hover::after{

    width: 100%;
    transition: width 700ms ease-in-out ;
} 

/* card */
.card{
        background-color: white;
        width: 800px;
        min-height: 400px;

        margin: 45px auto;
        display: grid;
        grid-template-columns: 1fr 1fr;

        box-shadow: 5px 20px 20px 2px rgba(122, 120, 120, 0.452);
        
        animation-name: up;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-delay: 1s;
        opacity: 0;
        animation-fill-mode: forwards;

}
@keyframes up{
    from{
    
    transform:translateY(12px);
    }
    to{
    opacity: 1;
    }
}
.details{
    padding: 32px;
}
.details .item{
    border-bottom: 1px solid black;
    padding: 16px 0;
}
.detail .item:last-child{
    border: none;
}
.details h3,
.details .item div:nth-child(1){
    font-size: 14px;
    line-height: 24px;
    color: #777;
    letter-spacing: 0.7px;
    font-weight: normal;

}
.details .item div:nth-child(2){
    color: #555;
    font-weight: bold;
    font-size: 18px;
}
.details h3{
    text-transform: uppercase;
    font-weight: bold;
    color: rebeccapurple;
    font-size: 18px;
}
.details .item span{
    padding: 8px 16px;
    background-color: yellow;
    border-radius: 16px;
    color: #777;
    margin-right: 4px;
    margin-top: 5px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

 